.own-message{
    align-self: flex-start;
}
.message{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
}
.message .text{
    width: 100%;
    padding: 10px;
    padding-top: 0px;
}
.message header{
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: flex-start !important;
    flex-direction: row;
    background-color: transparent !important;
    gap: 5px;
}
.message-username{
    color: grey;
}
.message-time{
    color: #667aff;
}