.room-infos{
    width: 20%;
    min-width: fit-content;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}
.room-name{
    background-color: #667aff;
    padding: 15px;
    margin: 5px;
}
.user{
    margin: 5px;
    margin-left: 10px;
}
.batch{
    background-color: rgb(72, 75, 235);
    font-size: 12px;
    padding: 2px 5px;
}