*{
    box-sizing: border-box !important;
}
html, body{
    margin: 0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#root{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.join-chat{
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #7386ff;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
.join-chat .title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #667aff;
    width: 100%;
    margin: 0px;
    padding: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: 10px;
}
.form-group label{
    font-size: 20px;
}
.form-group input,select{
    border: 0px;
    height: 40px;
    width: 100%;
    background-color: white;
    font-size: 100%;
}
.submit-button{
    border: 0px;
    height: 40px;
    width: 50%;
    color: #7386ff;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.chat-room{
    background-color: #7386ff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.1);
}
.chat-room header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #667aff;
    padding: 5px;
    height: 5%;
    min-height: fit-content;
}
.chat-room header a{
    color: white;
    text-decoration: none;
}
.chat-room header .leave-room{
    text-decoration: none;
    color: #7386ff;
    background-color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 100%;
}
.chat-room main{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.room-infos{
    width: 20%;
    min-width: fit-content;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}
.room-name{
    background-color: #667aff;
    padding: 15px;
    margin: 5px;
}
.user{
    margin: 5px;
    margin-left: 10px;
}
.chat{
    width: 80%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}
.system-message{
    font-style: italic;
    color: grey;
}
.chat-messages{
    width: 100%;
    min-height: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
}
.message{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
}
.batch{
    background-color: rgb(72, 75, 235);
    font-size: 12px;
    padding: 2px 5px;
}
.own-message{
    align-self: flex-start;
}
.message .text{
    width: 100%;
    padding: 10px;
    padding-top: 0px;
}
.message header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: transparent;
    gap: 5px;
}
.message-username{
    color: grey;
}
.message-time{
    color: #667aff;
}
.chat-room footer{
    width: 100%;
    height: 10%;
    min-height: fit-content;
    background-color: #667aff;
    padding: 0px;
}
.chat-room footer form{
    height: 100%;
    width: 100%;
    gap: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.chat-room footer input{
    border: 0px;
    height: 40px;
    width: 50%;
    padding: 5px;
    font-size: 100%;
    border-radius: 10px;
}

.chat-room footer .submit-button{
    border: 0px;
    height: 40px;
    width: 25%;
    margin: 0px;
}
@media only screen and (max-width: 600px) {
    .chat{
        width: 100%;
    }
    .chat-room header{
        height: 10%;
    }
    .chat-room main{
        height: 75%;
    }
    .chat-room footer{
        height: 15%;
    }
    .chat-room footer form{
        gap: 0px;
        justify-content: space-between;
    }
    .chat-room footer input{
        width: 75%;
    }
    .chat-room footer .submit-button{
        width: 20%;
    }
    .room-infos{
        display: none;
    }
}
