*{
    box-sizing: border-box !important;
}
html, body{
    margin: 0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#root{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .chat{
        width: 100%;
    }
    .chat-room header{
        height: 10%;
    }
    .chat-room main{
        height: 75%;
    }
    .chat-room footer{
        height: 15%;
    }
    .chat-room footer form{
        gap: 0px;
        justify-content: space-between;
    }
    .chat-room footer input{
        width: 75%;
    }
    .chat-room footer .submit-button{
        width: 20%;
    }
    .room-infos{
        display: none;
    }
}
